package component

const taMaxLen="500"

templ ModalEditAffirm(){
              <!-- Modal Structure -->
	    <div id="modal-edit-affirm" class="modal appcolor-text text-type-dark">
		<div class="modal-content">

                   <div class="row">

                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen} type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>

                    <div class="input-field col s12">
                      <textarea   maxlength={taMaxLen}  type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea   maxlength={taMaxLen}  type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>


                    <div class="input-field col s12">
                      <textarea  maxlength={taMaxLen}   type="text" class="materialize-textarea"/>
                      <label class="active">Affirmation</label>
                    </div>



                    </div>

                </div>


		<div class="modal-footer">
		  <a href="#!" class="waves-effect waves-light btn-small modal-close  appcolor-text text-type-light">OK<i class="material-icons right">check</i></a>
		  <a href="#!" class="edit-affirm-arr-reset-btn waves-effect waves-light btn-small appcolor-text text-type-light left">RESET<i class="material-icons right">refresh</i></a>
		</div>
		<br/>
	      </div>
}
